
.footer {
    text-align: center;
    border-top-style: solid;
    border-top-color: gray;
    border-top-width: 1px;
}

.footer-button-next-1 {
    position: relative;
    left: 130px;
    border: none;
    background-color: white;
    margin: 15px;
    font-size: 17px;
    font-variant: small-caps;
    color: skyblue;
}

.footer-button-next {
    position: relative;
    left: 85px;
    border: none;
    background-color: white;
    margin: 15px;
    font-size: 17px;
    font-variant: small-caps;
    color: skyblue;
}

.footer-button-previous {
    position: relative;
    right: 85px;
    border: none;
    background-color: white;
    margin: 15px;
    font-size: 17px;
    font-variant: small-caps;
    color: grey;
}

.progress-bar {
    border-top: 2px solid gray;
    border-bottom: 1px solid gray;
}

.firstInputField {
    height: 250px;
}

.first-progress-bar {
    border: 1px solid gray;
    width: 33%;
    height: 6px;
    border: 1px solid royalblue;
    background-color: royalblue;
}

.second-progress-bar {
    border: 1px solid gray;
    width: 66%;
    height: 6px;
    border: 1px solid royalblue;
    background-color: royalblue;
}

.final-progress-bar {
    border: 1px solid gray;
    width: 100%;
    height: 6px;
    border: 1px solid royalblue;
    background-color: royalblue;
}

.inputField {
    margin: 20px;
    height: 300px;
}

.first-input-field {
    padding-top: 60px;
}

.firstInputField-input {
    width: 95%;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid gray;
}

.lable-title {
    font-size: 12px;
}

.title-normal {
    color: gray;
}

.title-error {
    color: red;
    font-size: 12px;
}


.body {
    border: 1px solid gray;
    border-radius: 10px;
    width: 100%;    
    font-family: Arial, sans-serif;
    color: gray;
}

.secondInputField {
    text-align: center;
    margin: 20px;
    height: 300px;
}


.secondInputField-age-input-field {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    border: 1px solid gray;
    border-radius: 4px;
}

.secondInputField-age-input {
    text-align: center;
    border: none;
    width: 99%;
    height: 35px;
    font-size: 15px;
}

.left-border {
    border-left: 1px solid gray;
}
.right-border {
    border-right: 1px solid gray;
}

.secondInputField-header {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: lighter;
}

.secondInputField-sex-input {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    border: 1px solid gray;
    border-radius: 4px;
}

.secondInputField-sex-button {
    text-align: center;
    width: 100%;
    height: 35px;
    font-size: 15px;
}

.secondInputField-dropdown {
    width: 100%;
    height: 35px;
    background-color: white;
    margin-bottom: 20px;
}

.header {
    text-align: center;
    color: skyblue;
    font-size: 20px;
}

.finalInputField {
    text-align: center;
}

.img {
    display: block;
    margin: auto;
    margin-top: 100px;
    width: 50%;
}

.finalInputField-next {
    border: 1px solid skyblue;
    background-color: white;
    margin-bottom: 15px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 5px;
    font-size: 17px;
    font-variant: small-caps;
    color: skyblue;
}